/* .navbar-nav .navbar-brand .nav-link {
  background-color:coral ;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: darkviolet ;
}

.navbar-brand {
  font-size: 2em;
} */


.p-2 {
  font-size: 6mm;
  padding-left: 15px !important;
}

.logo {
  padding-left: 10px;
  font-size: 12mm;
}
